.modalOverlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;

  // width: 100%;
  // height: 100vh;
  background: rgba(0, 0, 0, 0.3);
}

.modalBox {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background: var(--Grey-2);

  p {
    color: var(--Grey-100);
  }

  select {
    display: block;
    width: 100%;
    height: 48px;
    background-color: var(--Grey-3);
    border-radius: var(--border-radius-1);
    border: none;
    color: var(--Grey-1);
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
}
