:root{

    --color-primary: #FF577F;
    --color-primary-focus: #FF427F;
    --color-primary-negative: #59323F;

    --Grey-4: #121214;
    --Grey-3: #212529;
    --Grey-2: #343B41;
    --Grey-1: #868E96;
    --Grey-0: #F8F9FA;

    --sucess: #3FE864;
    --negative: #E83F5B;

    --font-family: "Inter", "sam-serif";

    --border-radius-1: 4px;

}