.container1 {
  width: 100%;
  background-color: var(--Grey-2);

}
.headerModalBox1 {
  width: 400px;
  height: 50px;
  display: flex;
  flex-direction: row;
  border: 1px fixed red;
  background-color: var(--Grey-4);
}

.headerCard1 {
  display: flex;
  flex-direction: row;
  width: 400px;
  display: flex;
  flex-direction: center;
  margin-bottom: 20px;
  margin-top: 20px;
  color: white;
  font-size: 20px;
  font-family: var(--font-family);
}

.btn1 {
  margin-left: -270px;
  background-color: var(--Grey-3);
  border: none;
  color: var(--Grey-0);
  font-size: 22px;
  margin-left: 10px;
}

.statusTech1{
  display: block;
  width: 100%;
  height: 48px;
  background-color: var(--Grey-3);
  border-radius: var(--border-radius-1);
  border: none;
  color: var(--Grey-1);
  font-size: 1rem;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
}

