.listTech {
  width: 66%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  background-color: #212529;
  padding: 20px;
  border-radius: var(--border-radius-2);
  gap: 20px;

  .listTechItem {
    width: 95%;
    display: flex;
    flex-direction: row;
    // align-items: center;
    margin: auto;
    justify-content: space-between;
    background-color: var(--Grey-4);
    padding: 20px;
    border-radius: var(--border-radius-2);
  }

  .techComponent {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}

.icons {
  background-color: var(--Grey-4);
  border: none;
  cursor: pointer;
}
