.headerBox{

    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;

    img{
        width: 150px;
        display: flex;
        align-items: center;
        
    }
}

.registerBox{
    display: flex;
    align-items: center;
    justify-content: space-around;
}