.registerBox {
  width: 420px;
  height: 770px;
  background-color: var(--Grey-2);
  margin: auto;
  padding: 20px;
  gap: 20px;
  border-radius: var(--border-radius-1);
  color: var(--Grey-1);

  h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin: auto;
    text-align: center;
  }

  p {
    color: var(--Grey-1);
    text-align: center;
  }
  select {
    display: block;
    width: 100%;
    height: 48px;
    background-color: var(--Grey-3);
    border-radius: var(--border-radius-1);
    border: none;
    color: var(--Grey-1);
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
}
