input {
  width: 90%;
  height: 48px;
  border: none;
  display: block;
  color: var(--Grey-1);
  font-family: var(--font-family);
  font-size: 1rem;
  background-color: var(--Grey-3);
  border-radius: var(--border-radius-1);
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0 20px;
}
