.footerBox {
  width: 100%;
  height: 50px;
  display: flex;
  margin-top: 50px;
  margin: auto;
}

.direitos {
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  color: var(--Grey-1);
}
